# Project exclude paths
/project/target/*
/project/project/*
/target/
/target/scala-2.13/classes/
/target/scala-2.13/test-classes/

# IntelliJ IDEA files
.idea/
.idea/*.iml
.idea/*
.idea/modules

# SBT
.bsp
